body {
    background: rgb(2, 0, 36);
    background: linear-gradient(105deg, rgb(39 10 25) 0%, rgba(2, 0, 36, 1) 50%, rgb(0 40 49) 100%);
    color: whitesmoke;
    background-attachment: fixed;
}

summary {
    padding: 0.5em;
    list-style-type: 'Expand ';
}

details[open]>summary {
    list-style-type: 'Collapse ';
}

details[open] summary {
    margin-bottom: 0.5em;
}

input {
    background-color: rgba(0, 0, 0, .7);
    border: 1px solid #4b4b4b9e;
    border-radius: 3px;
    color: #fff;
}

.vl {
    flex: 0 0 auto;
    width: 5px;
    border-left: 2px solid rgba(255, 255, 255, .5);
}

.sideline {
    padding-bottom: 5rem;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    /* color: #4A4A4F; */
}

.text-muted {
    color: rgba(255, 255, 255, .5);
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #4b4b4b9e;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.alert {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.alert-dismissible .btn-close {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #13795B;
}

.scale {
    width: 100%;
    height: auto;
}

.favourited {
    position: absolute;
    padding: 0.5rem;
}

.rating {
    position: absolute;
    padding: 0.5rem;
    right: 0;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    /* height: 33vh; */
    width: 100%;
}

.masthead-text {
    /* background-color: #13795B; */
    color: #01ebfe;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

/* .masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
} */

.table>:not(caption)>*>* {
    padding: 0.5rem 1rem;
}

.recipe-link {
    text-decoration: none;
    color: rgba(255, 255, 255, .9);
}

.recipe-link:hover {
    color: #F53FA0;
}

.recipe-title {
    /* margin-top: 10%;
    margin-left: 5%; */
    margin: 1rem;
}

.recipe-subtitle {
    /* margin-left: 5%; */
    margin: 1rem;
    color: lightgray;
}

.btn>a {
    color: inherit;
    text-decoration: none;
}

.btn-signup,
.btn-edit {
    background-color: transparent;
    color: #01ebfe;
    border: 1px solid #01ebfe;
}

.btn-signup:hover,
.btn-signup:active,
.btn-edit:hover {
    background-color: #01ebfe;
    color: #fff;
    border: 1px solid transparent;
}

.link {
    color: #01ebfe;
    text-decoration: none;
    font-weight: 500;
}

.link:hover,
.link:active {
    color: #fff;
    text-decoration: underline;
}

.btn-save,
.btn-rate {
    color: #F53FA0;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #F53FA0;
    background: transparent;
    border: 1px solid #F53FA0;
}

.btn-save:hover,
.btn-save:active,
.btn-rate:hover,
.btn-rate:active {
    color: inherit;
    background: #F53FA0;
    border: none;
}

.btn-delete:hover {
    color: #fff;
    background: #F53FA0;
    border: 1px solid transparent;
}

.comments .btn {
    margin-right: 0.5rem;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}